.box {
	width: 50vw;
	height: 400px;
	background-color: grey;
	border: 4px dotted red;
	border-radius: 40px;
    padding: 50px 30px 50px 40px;
    margin: 30px 10px; 
}

.bg-image {
	background-image: url("images/me.jpg");
	background-size: cover;
	background-attachment: fixed;
}

 
 #display p {
 	display: none;
 }

 #display a {
 	display: block;
 }


  }
 .float-box {
 	height: 300px;
 	background-color: yellow;
 }
 .item {
    height: 100px;
    width: 100px;
    background-color: grey;
    float: right;
 }